@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  background: hsl(220, 15%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.qr-code {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 580px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 20px;
}

.qr-code__img img {
  width: 100%;
  background-color: hsl(0, 0%, 90%);
  text-align: center;
  border-radius: 10px;
}

.qr-code__bold h3 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0 3px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

.qr-code__para p {
  font-size: 15px;
  font-weight: 400;
  margin-top: -2rem;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  color: #c0c0c0;
}
